@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



    :root{

        --h1: 50px;
        --h2: 40px;
        --h3: 30px;
        --h4: 28px;
        --h5: 24px;
        --h6: 20px;

        --sub: 20px;

        --label: 16px;
        --ls: 5px;

        --body: 14px;

        --color-dark-100: rgba(58, 58, 58, 1);
        --color-dark-75: rgba(58, 58, 58, .75);
        --color-dark-50: rgba(58, 58, 58, .5);
        --color-dark-25: rgba(58, 58, 58, .25);

        --color-pink-100: rgba(224, 44, 109, 1);
        --color-pink-75: rgba(224, 44, 109, .75);

        --font-weight-bolder: 700;
        --font-weight-semi-bold: 600;
        --font-weight-bold: 500;
        --font-weight-normal:400;

    }


    /* ! header style start */
    header{
        padding: 0 100px;
    }


    /* ! Nav style start */
   

    .nav{
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;
    }



    .nav-menus ul{
        display: flex;
        gap: 25px;
    }
    .nav-menus li{
        list-style: none;
        font-weight: var(--font-weight-semi-bold);
    }




    /* ! Header banner styles */


    .banner{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .text-area-title{
        font-size: var(--h1);
        font-weight: var(--font-weight-bolder);
        color: var(--color-dark-100);
    }

    .text-area-pera{
        color: var(--color-dark-100);
    }

    .btn{

        background-color: var(--color-pink-100);
        margin-top: 10px;
        border: none;
        border-radius: 8px;
        padding: 8px 20px;
        color: #fff;

    }
    .banner-image-area{
        background-image: url('images/Circle-design.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .banner-image-area img{
        width: 100%;
    }
    main{
        padding: 40px 230px;
    }
    .sponsor-section{
        padding: 30px 0px;
        display: flex;
        justify-content: space-evenly;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    }
    .sponsor-section img{
        padding: 5px;
    }

    /* ! Popular items sections start */


    .cards-container{
        padding: 20px 0px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        gap: 15px;
    }

    .popular-item{
        padding: 40px 0px;
    }

    .popular-item-title{
        text-align: center;
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--h5);
        color: var(--color-dark-75);
    }

    .card{
        padding: 10px;
        max-width: 329px;
        max-height: 476px;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    }
    .card img{
        width: 100%;
    }

    .card-item-title{
        font-size: var(--h5);
        font-weight: var(--font-weight-semi-bold);
        
    }

    .card-price-title{
        padding: 5px 0px;
        font-size: var(--h6);

    }
    .card-pera{
        padding: 4px 0px;
        color: var(--color-dark-75);
    }
    .see-more-tag{
        text-align: right;
        color: var(--color-pink-100);
    }











    @media screen and (max-width: 576px) {
        header{
            padding: 0px 10px;

        }
        .nav{
            flex-direction: column;
            align-items: center;
        }
        .banner{
            flex-direction: column-reverse;
        }

        .banner-text-area{
            text-align: center;
        }



        /* ! main section start here */


        main{
            padding: 20px 40px;
        }

        .sponsor-section{

            flex-wrap: wrap;
        }

        .cards-container{
            grid-template-columns: 1fr;
            justify-content: center;
            

        }
        .card img{
            overflow: hidden;
            
        }


    }


    @media screen and (min-width:576px) and (max-width: 922px) {

        header{
            padding: 0px 10px;

        }
        .nav{
            flex-direction: column;
            align-items: center;
        }
        .banner{
            flex-direction: column-reverse;
        }
        .banner-text-area{
            text-align: center;
        }


        /* ? main section start here */


        main{
            padding: 20px 40px;
        }

        .sponsor-section{
        
            flex-wrap: wrap;
        
        }


        
    }